/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    /* menu bar responsive start */
    .menu ul li {
        text-align: center;
        color: #101010;
        font-size: 20px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/toogle.png");
    }
    .navbar-light .navbar-toggler {
        border: 0;
    }
    .menu ul {
        background: linear-gradient(#dfdfdf, #a2a2a2);
    }
    /* menu bar responsive end */
    /* photodiary part start here */
    #photo-diary {
        padding: 20px 0;
    }
    .content h2 {
        font-size: 23px;
        padding: 10px 0;
    }
    .content {
        padding: 0px 0px;
        text-align: center;
    }
    .pd {
        padding: 0;
    }
    .sign-up h2 {
        font-size: 35px;
        padding-bottom: 80px;
    }
    /* photodiary part end here */
    /* content */
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    /* menu bar responsive start */
    .menu ul li {
        text-align: center;
        color: #101010;
        font-size: 20px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/toogle.png");
    }
    .navbar-light .navbar-toggler {
        border: 0;
    }
    .menu ul {
        background: linear-gradient(#dfdfdf, #a2a2a2);
    }
    /* menu bar responsive end */
    /* photodiary part start here */
    #photo-diary {
        padding: 10px 0;
    }
    .pd {
        padding: 0;
    }
    .content {
        padding-right: 35px;
        text-align: center;
    }
    .content h2 {
        font-size: 18px;
        padding: 5px 0;
    }
    .content p {
        font-weight: 400;
    }
    .photography-content h2 {
        font-size: 33px;
        padding: 10px 0;
    }
    .photography-content {
        padding: 0px 0px;
        text-align: center;
    }
    .sign-up h2 {
        font-size: 27px;
        padding-bottom: 80px;
    }
    #lifestyle-part,
    #photodiary-second,
    #lifestyle {
        padding: 30px 0;
    }
    .load-button {
        padding: 50px 0px;
    }
    .load-button a {
        font-size: 16px;
    }
    .load-button a:hover {
        font-size: 16px;
    }
    #footer-part {
        padding: 30px 0px;
    }
    ul li a {
        font-size: 14px;
        padding-right: 5px;
    }
    /* photodiary part end here */
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    /* menu bar responsive start */
    .menu ul li {
        text-align: center;
        color: #101010;
        font-size: 20px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/toogle.png");
    }
    .navbar-light .navbar-toggler {
        border: 0;
    }
    .menu ul {
        background: linear-gradient(#dfdfdf, #a2a2a2);
    }
    /* menu bar responsive end */
    /* photodiary part start here */
    #photo-diary {
        padding: 50px 0;
    }
    .photography-content h2 {
        font-size: 33px;
        padding: 10px 0;
    }
    .photography-content {
        padding: 0px 0px;
    }
    .content h2 {
        font-size: 21px;
    }
    #lifestyle-part,
    #photodiary-second,
    #lifestyle {
        padding: 30px 0;
    }
    .sign-up h2 {
        font-size: 27px;
        font-weight: 600;
    }
    /* photodiary part end here */
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu ul li a {
        margin-left: 30px;
    }
    .content h2 {
        font-size: 29px;
    }
    .sign-up h2 {
        font-size: 37px;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}