/* basic css */

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    font-family: 'Inconsolata', monospace;
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 150%;
}


/* header area start */

.menu ul li a {
    color: #626262 !important;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 80px;
}

.menu ul li a:active,
.menu ul li a:focus {
    color: #131313 !important;
    font-weight: 700;
}


/* banner image */

.banner-img {
    padding-top: 70px;
}


/* header area end */


/* photography part start */

#photo-diary {
    padding: 100px 0;
}

.photography-content {
    padding: 10px 125px;
}

.photography-content h4 {
    color: #b4ad9e;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.photography-content h2 {
    color: #626262;
    font-size: 35px;
    padding: 20px 0;
}

.photography-content p {
    color: #626262;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
}

.photography-content a {
    text-transform: uppercase;
    color: #b4ad9e;
    font-size: 16px;
    padding-top: 35px;
    display: inline-block;
}

.photography-content a:hover {
    text-decoration: none;
    color: #626262;
}


/* photography part end */